# Игнорирование виртуального окружения (это нужно для каждого пользователя!)
.venv/

# Игнорирование скомпилированных файлов Python (они создаются автоматически)
*.pyc
__pycache__/

# Игнорирование баз данных (каждая машина будет иметь свою БД, и она не должна быть в Git)
db.sqlite3

# Игнорирование IDE/редакторов кода (настройки локальной машины, которые мешают другим)
.idea/     # Для PyCharm
.vscode/   # Для VS Code

# Игнорирование системных файлов
.DS_Store/  # для MacOS
